.widget {
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 1%;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.size {
    height: 60px;
}

.clr {
    background-color: rgb(22, 6, 117);
    border-radius: 10px;
}

.text_clr {
    color: rgb(85, 86, 87);
    font-size: 16px;
}

.hedding {
    color: white;
    padding: 2%;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.subhead {
    text-align: center;
    padding: 10px;
}

.subhead tr td {
    padding: 10px;
}

